@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
}

.box-shadow-l {
  box-shadow: 1px 0px 0px #ebebeb;
}

.containerr {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 70px 100vh;
}

aside {
  grid-row-start: 1;
  grid-row-end: 4;
  z-index: 1;
}

.i i {
  color: #464754;
  font-weight: 800;
  font-size: 18px;
}

.i {
  margin-top: -10px;
}

.hover-effect a {
  padding: 10px;
  transition: all 300ms ease;
}

.hover-effect a:hover i,
.hover-effect a:hover h3 {
  color: #000000;
}

.i .hover-effect a:hover i {
  margin-left: 0.7rem;
}

.hover-effect a i {
  transition: all 300ms ease;
}

.top {
  grid-column-start: 2;
  grid-column-end: 4;
}

main {
  grid-column-start: 2;
  grid-column-end: 4;
  background: #f7f8fa;
}

.icolor {
  color: #464754;
}
.icolor a {
  transition: all 300ms ease-in-out;
}
.icolor a:hover {
  color: black;
}

@media screen and (max-width: 1200px) {
  .i .hover-effect a h3 {
    display: none;
  }
  .hide a h4,
  .hide a i {
    display: none;
  }

  .hide {
    margin-left: 23px;
  }

  .imghide img:nth-child(2),
  .hideit small {
    display: none;
  }

  .hideit img:nth-child(1) {
    margin-right: 18px;
  }

  .containerr {
    grid-template-columns: 100px;
  }
}

@media screen and (max-width: 786px) {
  aside {
    position: fixed;
    left: -100%;
    background: white;
    width: 14rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem rgba(132, 139, 200, 0.18);
    height: 100vh;
    padding-right: 1.8rem;

    animation: showMenu 400ms ease forwards;
    /* display */
    display: none;
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

  .containerr {
    grid-template-columns: 0px;
  }

  .i .hover-effect a h3,
  .imghide img:nth-child(2),
  .hideit small,
  .hide a h4,
  .hide a i {
    display: inline-block;
  }
  .menu-button {
    display: inline-block;
  }
}
