@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  overflow-x: hidden;
}

.box-shadow-l {
  box-shadow: 1px 0px 0px #ebebeb;
}

.containerr {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 70px 100%;
}

aside {
  grid-row-start: 1;
  grid-row-end: 4;
  z-index: 1;
}

.i i {
  color: #464754;
  font-weight: 800;
  font-size: 18px;
}

.i {
  margin-top: -10px;
}

.hover-effect a {
  padding: 10px;
  transition: all 300ms ease;
}

.hover-effect a:hover i,
.hover-effect a:hover h3 {
  color: #000000;
}

.i .hover-effect a:hover i {
  margin-left: 0.7rem;
}

.hover-effect a i {
  transition: all 300ms ease;
}

.top {
  grid-column-start: 2;
  grid-column-end: 4;
}

main {
  grid-column-start: 2;
  grid-column-end: 4;
  background: #f7f8fa;
}

.icolor {
  color: #464754;
}
.icolor a {
  transition: all 300ms ease-in-out;
}
.icolor a:hover {
  color: black;
}

/* cards */
.cards {
  width: 350px;
}

.talents .card4 .fol4 {
  margin-left: 92px;
}

@media screen and (max-width: 1200px) {
  .i .hover-effect a h3 {
    display: none;
  }
  .hide a h4,
  .hide a i {
    display: none;
  }

  .hide {
    margin-left: 23px;
  }

  .imghide img:nth-child(2),
  .hideit small {
    display: none;
  }

  .hideit img:nth-child(1) {
    margin-right: 18px;
  }

  .containerr {
    grid-template-columns: 100px;
  }

  .assets .TalentAgencies {
    display: none;
  }

  .asset .MediaContents {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .assets .TalentAgencies {
    margin-top: 18px;
  }

  .asset .MediaContents {
    margin-top: 18px;
  }
}

@media screen and (max-width: 992px) {
  .assets .Agencies {
    margin-top: 18px;
  }

  .asset .Jobs {
    margin-top: 18px;
  }
}

@media screen and (max-width: 786px) {
  aside {
    position: fixed;
    left: -100%;
    background: white;
    width: 14rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem rgba(132, 139, 200, 0.18);
    height: 100vh;
    padding-right: 1.8rem;

    animation: showMenu 400ms ease forwards;
    /* display */
    display: none;
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

  .containerr {
    grid-template-columns: 0px;
  }

  .i .hover-effect a h3,
  .imghide img:nth-child(2),
  .hideit small,
  .hide a h4,
  .hide a i {
    display: inline-block;
  }
  .menu-button {
    display: inline-block;
  }

  .assets .Agencies {
    display: none;
  }

  .asset .Jobs {
    display: none;
  }
}

@media screen and (max-width: 671px) {
  .assets .LocalBusiness {
    margin-top: 18px;
  }

  .asset .Events {
    margin-top: 18px;
  }
}

@media screen and (max-width: 480px) {
  .assets .LocalBusiness {
    display: none;
  }
  .asset .Events {
    display: none;
  }
}

@media screen and (max-width: 447px) {
  .assets .Talents {
    width: 300px;
  }

  .assets .Talents .tal {
    margin-left: 120px;
  }

  .assets .Talents span i {
    margin-left: 25px;
  }

  .assets .Brands {
    width: 300px;
    margin-top: 18px;
  }

  .assets .Brands .bra {
    margin-left: 120px;
  }

  .assets .Brands span i {
    margin-left: 25px;
  }

  .asset .Reservations {
    width: 300px;
  }

  .asset .Reservations .res {
    margin-left: 120px;
  }

  .asset .Reservations span i {
    margin-left: 25px;
  }

  .asset .Actions {
    width: 300px;
    margin-top: 18px;
  }
  .asset .Actions .act {
    margin-left: 120px;
  }
  .asset .Actions span i {
    margin-left: 25px;
  }

  /* nav Section  */

  .navhide small {
    display: none;
  }

  .icolor {
    display: none;
  }

  .cards .talents .card1 span,
  .cards .talents .card2 span,
  .cards .talents .card3 span,
  .cards .talents .card4 span,
  .cards .talents .card5 span {
    display: none;
  }

  .cards .talents .card2 .fol2 {
    position: relative;
    left: 0px;
  }

  .cards .talents .card3 .fol3 {
    position: relative;
    left: -4px;
  }

  .cards .talents .card4 .fol4 {
    position: relative;
    right: -35px;
  }

  .cards .talents .card5 .fol5 {
    position: relative;
    left: 13px;
  }

  .cards .talents .card1 .cross-div {
    position: relative;
    left: 10px;
  }
}
