@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
}

.box-shadow-l {
  box-shadow: 1px 0px 0px #ebebeb;
}

.containerr {
  display: grid;
  grid-template-columns: 210px;
  grid-template-rows: 80px 100vh;
}

aside {
  grid-row-start: 1;
  grid-row-end: 4;
}

.i i {
  color: #464754;
  font-weight: 800;
  font-size: 20px;
  margin-left: -7px;
}

.hover-effect h3:hover,
.i .hover-effect i:hover {
  color: #000000;
}

.i .hover-effect a:hover {
  margin-left: 15px;
}

.i .hover-effect h3 {
  transition: all 300ms ease;
}

.i .hover-effect a {
  transition: all 300ms ease;
}
